{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"tabWidth": 4,
	"arrowParens": "always",
	"bracketSpacing": true,
	"svelteStrictMode": false,
	"svelteSortOrder": "scripts-options-markup-styles",
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": true,
	"htmlWhitespaceSensitivity": "strict",
	"semi": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true
}
