$icomoon-font-family: "pixel" !default;
$icomoon-font-path: "fonts" !default;

$icon-exclam: "\21";
$icon-quotedbl: "\22";
$icon-numbersign: "\23";
$icon-dollar: "\24";
$icon-percent: "\25";
$icon-ampersand: "\26";
$icon-quotesingle: "\27";
$icon-parenleft: "\28";
$icon-parenright: "\29";
$icon-asterisk: "\2a";
$icon-plus: "\2b";
$icon-comma: "\2c";
$icon-hyphen: "\2d";
$icon-period: "\2e";
$icon-slash: "\2f";
$icon-zero: "\30";
$icon-one: "\31";
$icon-two: "\32";
$icon-three: "\33";
$icon-four: "\34";
$icon-five: "\35";
$icon-six: "\36";
$icon-seven: "\37";
$icon-eight: "\38";
$icon-nine: "\39";
$icon-colon: "\3a";
$icon-semicolon: "\3b";
$icon-less: "\3c";
$icon-equal: "\3d";
$icon-greater: "\3e";
$icon-question: "\3f";
$icon-A: "\41";
$icon-B: "\42";
$icon-C: "\43";
$icon-D: "\44";
$icon-E: "\45";
$icon-F: "\46";
$icon-G: "\47";
$icon-H: "\48";
$icon-I: "\49";
$icon-J: "\4a";
$icon-K: "\4b";
$icon-L: "\4c";
$icon-M: "\4d";
$icon-N: "\4e";
$icon-O: "\4f";
$icon-P: "\50";
$icon-Q: "\51";
$icon-R: "\52";
$icon-S: "\53";
$icon-T: "\54";
$icon-U: "\55";
$icon-V: "\56";
$icon-W: "\57";
$icon-X: "\58";
$icon-Y: "\59";
$icon-Z: "\5a";
$icon-bracketleft: "\5b";
$icon-backslash: "\5c";
$icon-bracketright: "\5d";
$icon-grave: "\60";
$icon-a: "\61";
$icon-b: "\62";
$icon-c: "\63";
$icon-d: "\64";
$icon-e: "\65";
$icon-f: "\66";
$icon-g: "\67";
$icon-h: "\68";
$icon-i: "\69";
$icon-j: "\6a";
$icon-k: "\6b";
$icon-l: "\6c";
$icon-m: "\6d";
$icon-n: "\6e";
$icon-o: "\6f";
$icon-p: "\70";
$icon-q: "\71";
$icon-r: "\72";
$icon-s: "\73";
$icon-t: "\74";
$icon-u: "\75";
$icon-v: "\76";
$icon-w: "\77";
$icon-x: "\78";
$icon-y: "\79";
$icon-z: "\7a";
$icon-braceleft: "\7b";
$icon-bar: "\7c";
$icon-braceright: "\7d";
$icon-asciitilde: "\7e";
$icon-exclamdown: "\a1";
$icon-cent: "\a2";
$icon-sterling: "\a3";
$icon-currency: "\a4";
$icon-yen: "\a5";
$icon-brokenbar: "\a6";
$icon-section: "\a7";
$icon-dieresis: "\a8";
$icon-copyright: "\a9";
$icon-ordfeminine: "\aa";
$icon-logicalnot: "\ac";
$icon-registered: "\ae";
$icon-macron: "\af";
$icon-degree: "\b0";
$icon-plusminus: "\b1";
$icon-uni00B2: "\b2";
$icon-uni00B3: "\b3";
$icon-acute: "\b4";
$icon-uni00B5: "\b5";
$icon-paragraph: "\b6";
$icon-periodcentered: "\b7";
$icon-cedilla: "\b8";
$icon-uni00B9: "\b9";
$icon-ordmasculine: "\ba";
$icon-onequarter: "\bc";
$icon-onehalf: "\bd";
$icon-threequarters: "\be";
$icon-questiondown: "\bf";
$icon-Agrave: "\c0";
$icon-Aacute: "\c1";
$icon-Acircumflex: "\c2";
$icon-Atilde: "\c3";
$icon-Aring: "\c5";
$icon-AE: "\c6";
$icon-Ccedilla: "\c7";
$icon-Egrave: "\c8";
$icon-Eacute: "\c9";
$icon-Igrave: "\cc";
$icon-Iacute: "\cd";
$icon-Idieresis: "\cf";
$icon-Eth: "\d0";
$icon-Ograve: "\d2";
$icon-Oacute: "\d3";
$icon-Ocircumflex: "\d4";
$icon-Otilde: "\d5";
$icon-multiply: "\d7";
$icon-Ugrave: "\d9";
$icon-Ucircumflex: "\db";
$icon-Thorn: "\de";
$icon-germandbls: "\df";
$icon-aacute: "\e1";
$icon-acircumflex: "\e2";
$icon-atilde: "\e3";
$icon-aring: "\e5";
$icon-ae: "\e6";
$icon-ccedilla: "\e7";
$icon-egrave: "\e8";
$icon-eacute: "\e9";
$icon-igrave: "\ec";
$icon-iacute: "\ed";
$icon-idieresis: "\ef";
$icon-eth: "\f0";
$icon-ograve: "\f2";
$icon-oacute: "\f3";
$icon-ocircumflex: "\f4";
$icon-otilde: "\f5";
$icon-divide: "\f7";
$icon-ugrave: "\f9";
$icon-ucircumflex: "\fb";
$icon-thorn: "\fe";
$icon-ydieresis: "\ff";
$icon-Aogonek: "\104";
$icon-aogonek: "\105";
$icon-Cacute: "\106";
$icon-cacute: "\107";
$icon-Ccircumflex: "\108";
$icon-ccircumflex: "\109";
$icon-Cdotaccent: "\10a";
$icon-cdotaccent: "\10b";
$icon-Dcaron: "\10e";
$icon-dcaron: "\10f";
$icon-Dcroat: "\110";
$icon-dcroat: "\111";
$icon-Edotaccent: "\116";
$icon-edotaccent: "\117";
$icon-Eogonek: "\118";
$icon-eogonek: "\119";
$icon-Ecaron: "\11a";
$icon-ecaron: "\11b";
$icon-Gcircumflex: "\11c";
$icon-gcircumflex: "\11d";
$icon-Gbreve: "\11e";
$icon-gbreve: "\11f";
$icon-Gdotaccent: "\120";
$icon-gdotaccent: "\121";
$icon-Gcommaaccent: "\122";
$icon-gcommaaccent: "\123";
$icon-Hcircumflex: "\124";
$icon-hcircumflex: "\125";
$icon-Hbar: "\126";
$icon-hbar: "\127";
$icon-Itilde: "\128";
$icon-itilde: "\129";
$icon-Imacron: "\12a";
$icon-imacron: "\12b";
$icon-Ibreve: "\12c";
$icon-ibreve: "\12d";
$icon-Iogonek: "\12e";
$icon-iogonek: "\12f";
$icon-Idotaccent: "\130";
$icon-dotlessi: "\131";
$icon-IJ: "\132";
$icon-ij: "\133";
$icon-Jcircumflex: "\134";
$icon-jcircumflex: "\135";
$icon-Kcommaaccent: "\136";
$icon-kcommaaccent: "\137";
$icon-kgreenlandic: "\138";
$icon-Lacute: "\139";
$icon-lacute: "\13a";
$icon-Lcommaaccent: "\13b";
$icon-lcommaaccent: "\13c";
$icon-Lcaron: "\13d";
$icon-lcaron: "\13e";
$icon-Ldot: "\13f";
$icon-ldot: "\140";
$icon-Lslash: "\141";
$icon-lslash: "\142";
$icon-Nacute: "\143";
$icon-nacute: "\144";
$icon-Ncommaaccent: "\145";
$icon-ncommaaccent: "\146";
$icon-Ncaron: "\147";
$icon-ncaron: "\148";
$icon-napostrophe: "\149";
$icon-Eng: "\14a";
$icon-eng: "\14b";
$icon-Omacron: "\14c";
$icon-omacron: "\14d";
$icon-Obreve: "\14e";
$icon-obreve: "\14f";
$icon-Ohungarumlaut: "\150";
$icon-ohungarumlaut: "\151";
$icon-OE: "\152";
$icon-oe: "\153";
$icon-Racute: "\154";
$icon-racute: "\155";
$icon-Rcommaaccent: "\156";
$icon-rcommaaccent: "\157";
$icon-Rcaron: "\158";
$icon-rcaron: "\159";
$icon-Sacute: "\15a";
$icon-sacute: "\15b";
$icon-Scircumflex: "\15c";
$icon-scircumflex: "\15d";
$icon-Scedilla: "\15e";
$icon-scedilla: "\15f";
$icon-Scaron: "\160";
$icon-scaron: "\161";
$icon-Tcommaaccent: "\162";
$icon-tcommaaccent: "\163";
$icon-Tcaron: "\164";
$icon-tcaron: "\165";
$icon-Tbar: "\166";
$icon-tbar: "\167";
$icon-Utilde: "\168";
$icon-utilde: "\169";
$icon-Umacron: "\16a";
$icon-umacron: "\16b";
$icon-Ubreve: "\16c";
$icon-ubreve: "\16d";
$icon-Uring: "\16e";
$icon-uring: "\16f";
$icon-Uhungarumlaut: "\170";
$icon-uhungarumlaut: "\171";
$icon-Uogonek: "\172";
$icon-uogonek: "\173";
$icon-Wcircumflex: "\174";
$icon-wcircumflex: "\175";
$icon-Ycircumflex: "\176";
$icon-ycircumflex: "\177";
$icon-Ydieresis: "\178";
$icon-Zacute: "\179";
$icon-zacute: "\17a";
$icon-Zdotaccent: "\17b";
$icon-zdotaccent: "\17c";
$icon-Zcaron: "\17d";
$icon-zcaron: "\17e";
$icon-exclam1: "\40";
$icon-quotedbl1: "\5e";
$icon-numbersign1: "\5f";
$icon-dollar1: "\7f";
$icon-percent1: "\80";
$icon-ampersand1: "\81";
$icon-quotesingle1: "\82";
$icon-parenleft1: "\83";
$icon-parenright1: "\84";
$icon-asterisk1: "\85";
$icon-plus1: "\86";
$icon-comma1: "\87";
$icon-hyphen1: "\88";
$icon-hyphen2: "\2010";
$icon-period1: "\89";
$icon-slash1: "\8a";
$icon-zero1: "\8b";
$icon-one1: "\8c";
$icon-two1: "\8d";
$icon-three1: "\8e";
$icon-four1: "\8f";
$icon-five1: "\90";
$icon-six1: "\91";
$icon-seven1: "\92";
$icon-eight1: "\93";
$icon-nine1: "\94";
$icon-colon1: "\95";
$icon-semicolon1: "\96";
$icon-less1: "\97";
$icon-equal1: "\98";
$icon-greater1: "\99";
$icon-question1: "\9a";
$icon-at: "\9b";
$icon-A1: "\9c";
$icon-B1: "\9d";
$icon-C1: "\9e";
$icon-D1: "\9f";
$icon-E1: "\a0";
$icon-F1: "\ab";
$icon-G1: "\ad";
$icon-H1: "\bb";
$icon-I1: "\c4";
$icon-J1: "\ca";
$icon-K1: "\cb";
$icon-L1: "\ce";
$icon-M1: "\d1";
$icon-N1: "\d6";
$icon-O1: "\d8";
$icon-P1: "\da";
$icon-Q1: "\dc";
$icon-R1: "\dd";
$icon-S1: "\e0";
$icon-T1: "\e4";
$icon-U1: "\ea";
$icon-V1: "\eb";
$icon-W1: "\ee";
$icon-X1: "\f1";
$icon-Y1: "\f6";
$icon-Z1: "\f8";
$icon-bracketleft1: "\fa";
$icon-backslash1: "\fc";
$icon-bracketright1: "\fd";
$icon-asciicircum: "\100";
$icon-underscore: "\101";
$icon-a1: "\102";
$icon-b1: "\103";
$icon-c1: "\10c";
$icon-d1: "\10d";
$icon-e1: "\112";
$icon-f1: "\113";
$icon-g1: "\114";
$icon-h1: "\115";
$icon-i1: "\17f";
$icon-j1: "\180";
$icon-k1: "\181";
$icon-l1: "\182";
$icon-m1: "\183";
$icon-n1: "\184";
$icon-o1: "\185";
$icon-p1: "\186";
$icon-q1: "\187";
$icon-r1: "\188";
$icon-s1: "\189";
$icon-t1: "\18a";
$icon-u1: "\18b";
$icon-v1: "\18c";
$icon-w1: "\18d";
$icon-x1: "\18e";
$icon-y1: "\18f";
$icon-z1: "\190";
$icon-braceleft1: "\191";
$icon-bar1: "\192";
$icon-braceright1: "\193";
$icon-N2: "\194";
$icon-Q2: "\195";
$icon-U2: "\196";
$icon-e2: "\197";
$icon-f2: "\198";
$icon-g2: "\199";
$icon-h2: "\19a";
$icon-s2: "\19b";
$icon-zero2: "\19c";
$icon-one2: "\19d";
$icon-two2: "\19e";
$icon-three2: "\19f";
$icon-four2: "\1a0";
$icon-five2: "\1a1";
$icon-six2: "\1a2";
$icon-seven2: "\1a3";
$icon-eight2: "\1a4";
$icon-nine2: "\1a5";
$icon-A2: "\1a6";
$icon-B2: "\1a7";
$icon-C2: "\1a8";
$icon-D2: "\1a9";
$icon-E2: "\1aa";
$icon-F2: "\1ab";
$icon-G2: "\1ac";
$icon-H2: "\1ad";
$icon-I2: "\1ae";
$icon-J2: "\1af";
$icon-K2: "\1b0";
$icon-L2: "\1b1";
$icon-M2: "\1b2";
$icon-N3: "\1b3";
$icon-O2: "\1b4";
$icon-P2: "\1b5";
$icon-Q3: "\1b6";
$icon-R2: "\1b7";
$icon-S2: "\1b8";
$icon-T2: "\1b9";
$icon-U3: "\1ba";
$icon-V2: "\1bb";
$icon-W2: "\1bc";
$icon-X2: "\1bd";
$icon-Y2: "\1be";
$icon-Z2: "\1bf";
$icon-a2: "\1c0";
$icon-b2: "\1c1";
$icon-c2: "\1c2";
$icon-d2: "\1c3";
$icon-e3: "\1c4";
$icon-f3: "\1c5";
$icon-g3: "\1c6";
$icon-h3: "\1c7";
$icon-i2: "\1c8";
$icon-j2: "\1c9";
$icon-k2: "\1ca";
$icon-l2: "\1cb";
$icon-m2: "\1cc";
$icon-n2: "\1cd";
$icon-o2: "\1ce";
$icon-p2: "\1cf";
$icon-q2: "\1d0";
$icon-r2: "\1d1";
$icon-s3: "\1d2";
$icon-t2: "\1d3";
$icon-u2: "\1d4";
$icon-v2: "\1d5";
$icon-w2: "\1d6";
$icon-x2: "\1d7";
$icon-y2: "\1d8";
$icon-z2: "\1d9";
$icon-two3: "\1da";
$icon-eight3: "\1db";
$icon-nine3: "\1dc";
$icon-colon2: "\1dd";
$icon-equal2: "\1de";
$icon-J3: "\1df";
$icon-X3: "\1e0";
$icon-m3: "\1e1";
$icon-a3: "\1e2";
$icon-a4: "\1e3";
$icon-n3: "\1e4";
$icon-n4: "\1e5";
$icon-b3: "\1e6";
$icon-b4: "\1e7";
$icon-o3: "\1e8";
$icon-o4: "\1e9";
$icon-c3: "\1ea";
$icon-c4: "\1eb";
$icon-p3: "\1ec";
$icon-p4: "\1ed";
$icon-d3: "\1ee";
$icon-d4: "\1ef";
$icon-q3: "\1f0";
$icon-q4: "\1f1";
$icon-e4: "\1f2";
$icon-e5: "\1f3";
$icon-r3: "\1f4";
$icon-r4: "\1f5";
$icon-f4: "\1f6";
$icon-f5: "\1f7";
$icon-s4: "\1f8";
$icon-s5: "\1f9";
$icon-g4: "\1fa";
$icon-g5: "\1fb";
$icon-t3: "\1fc";
$icon-t4: "\1fd";
$icon-h4: "\1fe";
$icon-h5: "\1ff";
$icon-u3: "\200";
$icon-u4: "\201";
$icon-i3: "\202";
$icon-i4: "\203";
$icon-v3: "\204";
$icon-v4: "\205";
$icon-j3: "\206";
$icon-j4: "\207";
$icon-w3: "\208";
$icon-w4: "\209";
$icon-k3: "\20a";
$icon-k4: "\20b";
$icon-x3: "\20c";
$icon-x4: "\20d";
$icon-l3: "\20e";
$icon-l4: "\20f";
$icon-y3: "\210";
$icon-y4: "\211";
$icon-m4: "\212";
$icon-m5: "\213";
$icon-z3: "\214";
$icon-z4: "\215";
$icon-a5: "\216";
$icon-a6: "\217";
$icon-n5: "\218";
$icon-n6: "\219";
$icon-b5: "\21a";
$icon-b6: "\21b";
$icon-o5: "\21c";
$icon-o6: "\21d";
$icon-c5: "\21e";
$icon-c6: "\21f";
$icon-p5: "\220";
$icon-p6: "\221";
$icon-d5: "\222";
$icon-d6: "\223";
$icon-q5: "\224";
$icon-q6: "\225";
$icon-e6: "\226";
$icon-e7: "\227";
$icon-r5: "\228";
$icon-r6: "\229";
$icon-f6: "\22a";
$icon-f7: "\22b";
$icon-s6: "\22c";
$icon-s7: "\22d";
$icon-g6: "\22e";
$icon-g7: "\22f";
$icon-t5: "\230";
$icon-t6: "\231";
$icon-h6: "\232";
$icon-h7: "\233";
$icon-u5: "\234";
$icon-u6: "\235";
$icon-i5: "\236";
$icon-i6: "\237";
$icon-v5: "\238";
$icon-v6: "\239";
$icon-j5: "\23a";
$icon-j6: "\23b";
$icon-w5: "\23c";
$icon-w6: "\23d";
$icon-k5: "\23e";
$icon-k6: "\23f";
$icon-x5: "\240";
$icon-x6: "\241";
$icon-l5: "\242";
$icon-l6: "\243";
$icon-y5: "\244";
$icon-y6: "\245";
$icon-m6: "\246";
$icon-m7: "\247";
$icon-z5: "\248";
$icon-z6: "\249";
$icon-exclam2: "\24a";
$icon-dollar2: "\24b";
$icon-percent2: "\24c";
$icon-asterisk2: "\24d";
$icon-plus2: "\24e";
$icon-hyphen3: "\24f";
$icon-question2: "\250";
$icon-at1: "\251";
$icon-A3: "\252";
$icon-B3: "\253";
$icon-C3: "\254";
$icon-D3: "\255";
$icon-E3: "\256";
$icon-F3: "\257";
$icon-G3: "\258";
$icon-H3: "\259";
$icon-I3: "\25a";
$icon-J4: "\25b";
$icon-K3: "\25c";
$icon-L3: "\25d";
$icon-M3: "\25e";
$icon-N4: "\25f";
$icon-O3: "\260";
$icon-P3: "\261";
$icon-Q4: "\262";
$icon-R3: "\263";
$icon-S3: "\264";
$icon-T3: "\265";
$icon-U4: "\266";
$icon-V3: "\267";
$icon-W3: "\268";
$icon-X4: "\269";
$icon-Y3: "\26a";
$icon-Z3: "\26b";
$icon-f8: "\26c";
$icon-g8: "\26d";
$icon-h8: "\26e";
$icon-i7: "\26f";
$icon-j7: "\270";
$icon-n7: "\271";
$icon-x7: "\272";
$icon-A4: "\273";
$icon-B4: "\274";
$icon-C4: "\275";
$icon-D4: "\276";
$icon-E4: "\277";
$icon-F4: "\278";
$icon-G4: "\279";
$icon-H4: "\27a";
$icon-I4: "\27b";
$icon-J5: "\27c";
$icon-K4: "\27d";
$icon-L4: "\27e";
$icon-M4: "\27f";
$icon-N5: "\280";
$icon-O4: "\281";
$icon-P4: "\282";
$icon-Q5: "\283";
$icon-R4: "\284";
$icon-S4: "\285";
$icon-T4: "\286";
$icon-U5: "\287";
$icon-V4: "\288";
$icon-W4: "\289";
$icon-X5: "\28a";
$icon-Y4: "\28b";
$icon-Z4: "\28c";
$icon-a7: "\28d";
$icon-b7: "\28e";
$icon-c7: "\28f";
$icon-d7: "\290";
$icon-e8: "\291";
$icon-f9: "\292";
$icon-g9: "\293";
$icon-h9: "\294";
$icon-i8: "\295";
$icon-j8: "\296";
$icon-k7: "\297";
$icon-l7: "\298";
$icon-m8: "\299";
$icon-n8: "\29a";
$icon-o7: "\29b";
$icon-p7: "\29c";
$icon-q7: "\29d";
$icon-r7: "\29e";
$icon-s8: "\29f";
$icon-t7: "\2a0";
$icon-u7: "\2a1";
$icon-v7: "\2a2";
$icon-w7: "\2a3";
$icon-x8: "\2a4";
$icon-y7: "\2a5";
$icon-z7: "\2a6";
$icon-asterisk3: "\2a7";
$icon-A5: "\2a8";
$icon-B5: "\2a9";
$icon-C5: "\2aa";
$icon-D5: "\2ab";
$icon-E5: "\2ac";
$icon-F5: "\2ad";
$icon-G5: "\2ae";
$icon-H5: "\2af";
$icon-I5: "\2b0";
$icon-J6: "\2b1";
$icon-K5: "\2b2";
$icon-L5: "\2b3";
$icon-M5: "\2b4";
$icon-N6: "\2b5";
$icon-O5: "\2b6";
$icon-P5: "\2b7";
$icon-Q6: "\2b8";
$icon-R5: "\2b9";
$icon-S5: "\2ba";
$icon-T5: "\2bb";
$icon-U6: "\2bc";
$icon-V5: "\2bd";
$icon-W5: "\2be";
$icon-X6: "\2bf";
$icon-Y5: "\2c0";
$icon-Z5: "\2c1";
$icon-a8: "\2c2";
$icon-b8: "\2c3";
$icon-c8: "\2c4";
$icon-d8: "\2c5";
$icon-e9: "\2c6";
$icon-f10: "\2c7";
$icon-g10: "\2c8";
$icon-h10: "\2c9";
$icon-i9: "\2ca";
$icon-j9: "\2cb";
$icon-k8: "\2cc";
$icon-l8: "\2cd";
$icon-m9: "\2ce";
$icon-n9: "\2cf";
$icon-o8: "\2d0";
$icon-p8: "\2d1";
$icon-q8: "\2d2";
$icon-r8: "\2d3";
$icon-s9: "\2d4";
$icon-t8: "\2d5";
$icon-u8: "\2d6";
$icon-v8: "\2d7";
$icon-w8: "\2d8";
$icon-x9: "\2d9";
$icon-y8: "\2da";
$icon-z8: "\2db";
$icon-dollar3: "\2dc";
$icon-percent3: "\2dd";
$icon-ampersand2: "\2de";
$icon-quotesingle2: "\2df";
$icon-parenleft2: "\2e0";
$icon-parenright2: "\2e1";
$icon-asterisk4: "\2e2";
$icon-plus3: "\2e3";
$icon-comma2: "\2e4";
$icon-hyphen4: "\2e5";
$icon-period2: "\2e6";
$icon-slash2: "\2e7";
$icon-zero3: "\2e8";
$icon-one3: "\2e9";
$icon-two4: "\2ea";
$icon-three3: "\2eb";
$icon-four3: "\2ec";
$icon-five3: "\2ed";
$icon-six3: "\2ee";
$icon-seven3: "\2ef";
$icon-eight4: "\2f0";
$icon-nine4: "\2f1";
$icon-colon3: "\2f2";
$icon-semicolon2: "\2f3";
$icon-less2: "\2f4";
$icon-equal3: "\2f5";
$icon-greater2: "\2f6";
$icon-question3: "\2f7";
$icon-at2: "\2f8";
$icon-A6: "\2f9";
$icon-B6: "\2fa";
$icon-C6: "\2fb";
$icon-D6: "\2fc";
$icon-E6: "\2fd";
$icon-F6: "\2fe";
$icon-G6: "\2ff";
$icon-H6: "\300";
$icon-I6: "\301";
$icon-J7: "\302";
$icon-K6: "\303";
$icon-L6: "\304";
$icon-M6: "\305";
$icon-N7: "\306";
$icon-O6: "\307";
$icon-P6: "\308";
$icon-Q7: "\309";
$icon-R6: "\30a";
$icon-S6: "\30b";
$icon-T6: "\30c";
$icon-U7: "\30d";
$icon-V6: "\30e";
$icon-W6: "\30f";
$icon-X7: "\310";
$icon-Y6: "\311";
$icon-Z6: "\312";
$icon-bracketleft2: "\313";
$icon-backslash2: "\314";
$icon-bracketright2: "\315";
$icon-asciicircum1: "\316";
$icon-underscore1: "\317";
$icon-grave1: "\318";
$icon-a9: "\319";
$icon-b9: "\31a";
$icon-c9: "\31b";
$icon-d9: "\31c";
$icon-e10: "\31d";
$icon-f11: "\31e";
$icon-g11: "\31f";
$icon-h11: "\320";
$icon-i10: "\321";
$icon-j10: "\322";
$icon-k9: "\323";
$icon-l9: "\324";
$icon-m10: "\325";
$icon-n10: "\326";
$icon-o9: "\327";
$icon-p9: "\328";
$icon-q9: "\329";
$icon-r9: "\32a";
$icon-s10: "\32b";
$icon-t9: "\32c";
$icon-u9: "\32d";
$icon-v9: "\32e";
$icon-w9: "\32f";
$icon-x10: "\330";
$icon-y9: "\331";
$icon-z9: "\332";
$icon-braceleft2: "\333";
$icon-bar2: "\334";
$icon-braceright2: "\335";
$icon-asciitilde1: "\336";
$icon-Euro: "\20ac";
$icon-quotesinglbase: "\201a";
$icon-florin: "\337";
$icon-quotedblbase: "\201e";
$icon-ellipsis: "\2026";
$icon-dagger: "\2020";
$icon-daggerdbl: "\2021";
$icon-circumflex: "\338";
$icon-perthousand: "\2030";
$icon-Scaron1: "\339";
$icon-guilsinglleft: "\2039";
$icon-OE1: "\33a";
$icon-Zcaron1: "\33b";
$icon-quoteleft: "\2018";
$icon-quoteright: "\2019";
$icon-quotedblleft: "\201c";
$icon-quotedblright: "\201d";
$icon-bullet: "\2022";
$icon-endash: "\2013";
$icon-emdash: "\2014";
$icon-tilde: "\33c";
$icon-trademark: "\2122";
$icon-scaron1: "\33d";
$icon-guilsinglright: "\203a";
$icon-oe1: "\33e";
$icon-zcaron1: "\33f";
$icon-Ydieresis1: "\340";
$icon-uni00A0: "\341";
$icon-exclamdown1: "\342";
$icon-cent1: "\343";
$icon-sterling1: "\344";
$icon-currency1: "\345";
$icon-yen1: "\346";
$icon-brokenbar1: "\347";
$icon-section1: "\348";
$icon-dieresis1: "\349";
$icon-copyright1: "\34a";
$icon-ordfeminine1: "\34b";
$icon-guillemotleft: "\34c";
$icon-logicalnot1: "\34d";
$icon-uni00AD: "\34e";
$icon-registered1: "\34f";
$icon-macron1: "\350";
$icon-degree1: "\351";
$icon-plusminus1: "\352";
$icon-twosuperior: "\353";
$icon-threesuperior: "\354";
$icon-acute1: "\355";
$icon-mu: "\356";
$icon-paragraph1: "\357";
$icon-periodcentered1: "\358";
$icon-cedilla1: "\359";
$icon-onesuperior: "\35a";
$icon-ordmasculine1: "\35b";
$icon-guillemotright: "\35c";
$icon-onequarter1: "\35d";
$icon-onehalf1: "\35e";
$icon-threequarters1: "\35f";
$icon-questiondown1: "\360";
$icon-Agrave1: "\361";
$icon-Aacute1: "\362";
$icon-Acircumflex1: "\363";
$icon-Atilde1: "\364";
$icon-Adieresis: "\365";
$icon-Aring1: "\366";
$icon-AE1: "\367";
$icon-Ccedilla1: "\368";
$icon-Egrave1: "\369";
$icon-Eacute1: "\36a";
$icon-Ecircumflex: "\36b";
$icon-Edieresis: "\36c";
$icon-Igrave1: "\36d";
$icon-Iacute1: "\36e";
$icon-Icircumflex: "\36f";
$icon-Idieresis1: "\370";
$icon-Eth1: "\371";
$icon-Ntilde: "\372";
$icon-Ograve1: "\373";
$icon-Oacute1: "\374";
$icon-Ocircumflex1: "\375";
$icon-Otilde1: "\376";
$icon-Odieresis: "\377";
$icon-multiply1: "\378";
$icon-Oslash: "\379";
$icon-Ugrave1: "\37a";
$icon-Uacute: "\37b";
$icon-Ucircumflex1: "\37c";
$icon-Udieresis: "\37d";
$icon-Yacute: "\37e";
$icon-Thorn1: "\37f";
$icon-germandbls1: "\380";
$icon-agrave: "\381";
$icon-aacute1: "\382";
$icon-acircumflex1: "\383";
$icon-atilde1: "\384";
$icon-adieresis: "\385";
$icon-aring1: "\386";
$icon-ae1: "\387";
$icon-ccedilla1: "\388";
$icon-egrave1: "\389";
$icon-eacute1: "\38a";
$icon-ecircumflex: "\38b";
$icon-edieresis: "\38c";
$icon-igrave1: "\38d";
$icon-iacute1: "\38e";
$icon-icircumflex: "\38f";
$icon-idieresis1: "\390";
$icon-eth1: "\391";
$icon-ntilde: "\392";
$icon-ograve1: "\393";
$icon-oacute1: "\394";
$icon-ocircumflex1: "\395";
$icon-otilde1: "\396";
$icon-odieresis: "\397";
$icon-divide1: "\398";
$icon-oslash: "\399";
$icon-ugrave1: "\39a";
$icon-uacute: "\39b";
$icon-ucircumflex1: "\39c";
$icon-udieresis: "\39d";
$icon-yacute: "\39e";
$icon-thorn1: "\39f";
$icon-ydieresis1: "\3a0";
$icon-numbersign2: "\3a1";
$icon-exclam3: "\3a2";
$icon-quotedbl2: "\3a3";
$icon-notdef: "\e900";
$icon-exclam4: "\3a4";
$icon-quotedbl3: "\3a5";
$icon-dollar4: "\3a6";
$icon-percent4: "\3a7";
$icon-ampersand3: "\3a8";
$icon-quotesingle3: "\3a9";
$icon-parenleft3: "\3aa";
$icon-parenright3: "\3ab";
$icon-asterisk5: "\3ac";
$icon-plus4: "\3ad";
$icon-comma3: "\3ae";
$icon-hyphen5: "\3af";
$icon-hyphen6: "\2011";
$icon-period3: "\3b0";
$icon-slash3: "\3b1";
$icon-zero4: "\3b2";
$icon-one4: "\3b3";
$icon-two5: "\3b4";
$icon-three4: "\3b5";
$icon-four4: "\3b6";
$icon-five4: "\3b7";
$icon-six4: "\3b8";
$icon-seven4: "\3b9";
$icon-eight5: "\3ba";
$icon-nine5: "\3bb";
$icon-colon4: "\3bc";
$icon-semicolon3: "\3bd";
$icon-less3: "\3be";
$icon-equal4: "\3bf";
$icon-greater3: "\3c0";
$icon-question4: "\3c1";
$icon-at3: "\3c2";
$icon-A7: "\3c3";
$icon-B7: "\3c4";
$icon-C7: "\3c5";
$icon-D7: "\3c6";
$icon-E7: "\3c7";
$icon-F7: "\3c8";
$icon-G7: "\3c9";
$icon-H7: "\3ca";
$icon-I7: "\3cb";
$icon-J8: "\3cc";
$icon-K7: "\3cd";
$icon-L7: "\3ce";
$icon-M7: "\3cf";
$icon-N8: "\3d0";
$icon-O7: "\3d1";
$icon-P7: "\3d2";
$icon-Q8: "\3d3";
$icon-R7: "\3d4";
$icon-S7: "\3d5";
$icon-T7: "\3d6";
$icon-U8: "\3d7";
$icon-V7: "\3d8";
$icon-W7: "\3d9";
$icon-X8: "\3da";
$icon-Y7: "\3db";
$icon-Z7: "\3dc";
$icon-bracketleft3: "\3dd";
$icon-backslash3: "\3de";
$icon-bracketright3: "\3df";
$icon-asciicircum2: "\3e0";
$icon-underscore2: "\3e1";
$icon-grave2: "\3e2";
$icon-a10: "\3e3";
$icon-b10: "\3e4";
$icon-c10: "\3e5";
$icon-d10: "\3e6";
$icon-e11: "\3e7";
$icon-f12: "\3e8";
$icon-g12: "\3e9";
$icon-h12: "\3ea";
$icon-i11: "\3eb";
$icon-j11: "\3ec";
$icon-k10: "\3ed";
$icon-l10: "\3ee";
$icon-m11: "\3ef";
$icon-n11: "\3f0";
$icon-o10: "\3f1";
$icon-p10: "\3f2";
$icon-q10: "\3f3";
$icon-r10: "\3f4";
$icon-s11: "\3f5";
$icon-t10: "\3f6";
$icon-u10: "\3f7";
$icon-v10: "\3f8";
$icon-w10: "\3f9";
$icon-x11: "\3fa";
$icon-y10: "\3fb";
$icon-z10: "\3fc";
$icon-braceleft3: "\3fd";
$icon-bar3: "\3fe";
$icon-braceright3: "\3ff";
$icon-asciitilde2: "\400";
$icon-sterling2: "\401";
$icon-exclam5: "\402";
$icon-quotedbl4: "\403";
$icon-numbersign3: "\404";
$icon-dollar5: "\405";
$icon-percent5: "\406";
$icon-ampersand4: "\407";
$icon-quotesingle4: "\408";
$icon-parenleft4: "\409";
$icon-parenright4: "\40a";
$icon-asterisk6: "\40b";
$icon-plus5: "\40c";
$icon-comma4: "\40d";
$icon-hyphen7: "\40e";
$icon-period4: "\40f";
$icon-zero5: "\410";
$icon-one5: "\411";
$icon-two6: "\412";
$icon-three5: "\413";
$icon-four5: "\414";
$icon-five5: "\415";
$icon-six5: "\416";
$icon-seven5: "\417";
$icon-eight6: "\418";
$icon-nine6: "\419";
$icon-colon5: "\41a";
$icon-semicolon4: "\41b";
$icon-less4: "\41c";
$icon-equal5: "\41d";
$icon-greater4: "\41e";
$icon-question5: "\41f";
$icon-at4: "\420";
$icon-A8: "\421";
$icon-B8: "\422";
$icon-C8: "\423";
$icon-D8: "\424";
$icon-E8: "\425";
$icon-F8: "\426";
$icon-G8: "\427";
$icon-H8: "\428";
$icon-I8: "\429";
$icon-J9: "\42a";
$icon-K8: "\42b";
$icon-L8: "\42c";
$icon-M8: "\42d";
$icon-N9: "\42e";
$icon-O8: "\42f";
$icon-P8: "\430";
$icon-Q9: "\431";
$icon-R8: "\432";
$icon-S8: "\433";
$icon-T8: "\434";
$icon-U9: "\435";
$icon-V8: "\436";
$icon-W8: "\437";
$icon-X9: "\438";
$icon-Y8: "\439";
$icon-Z8: "\43a";
$icon-bracketleft4: "\43b";
$icon-backslash4: "\43c";
$icon-bracketright4: "\43d";
$icon-asciicircum3: "\43e";
$icon-underscore3: "\43f";
$icon-grave3: "\440";
$icon-a11: "\441";
$icon-b11: "\442";
$icon-c11: "\443";
$icon-d11: "\444";
$icon-e12: "\445";
$icon-f13: "\446";
$icon-g13: "\447";
$icon-h13: "\448";
$icon-i12: "\449";
$icon-j12: "\44a";
$icon-k11: "\44b";
$icon-l11: "\44c";
$icon-m12: "\44d";
$icon-n12: "\44e";
$icon-o11: "\44f";
$icon-p11: "\450";
$icon-q11: "\451";
$icon-r11: "\452";
$icon-s12: "\453";
$icon-t11: "\454";
$icon-u11: "\455";
$icon-v11: "\456";
$icon-w11: "\457";
$icon-x12: "\458";
$icon-y11: "\459";
$icon-z11: "\45a";
$icon-braceleft4: "\45b";
$icon-bar4: "\45c";
$icon-braceright4: "\45d";
$icon-asciitilde3: "\45e";
$icon-zero6: "\45f";
$icon-one6: "\460";
$icon-two7: "\461";
$icon-three6: "\462";
$icon-four6: "\463";
$icon-five6: "\464";
$icon-six6: "\465";
$icon-seven6: "\466";
$icon-eight7: "\467";
$icon-nine7: "\468";
$icon-colon6: "\469";
$icon-A9: "\46a";
$icon-B9: "\46b";
$icon-C9: "\46c";
$icon-D9: "\46d";
$icon-E9: "\46e";
$icon-F9: "\46f";
$icon-G9: "\470";
$icon-H9: "\471";
$icon-I9: "\472";
$icon-J10: "\473";
$icon-K9: "\474";
$icon-L9: "\475";
$icon-M9: "\476";
$icon-N10: "\477";
$icon-O9: "\478";
$icon-P9: "\479";
$icon-Q10: "\47a";
$icon-R9: "\47b";
$icon-S9: "\47c";
$icon-T9: "\47d";
$icon-U10: "\47e";
$icon-V9: "\47f";
$icon-W9: "\480";
$icon-X10: "\481";
$icon-Y9: "\482";
$icon-Z9: "\483";
$icon-bracketleft5: "\484";
$icon-backslash5: "\485";
$icon-bracketright5: "\486";
$icon-asciicircum4: "\487";
$icon-a12: "\488";
$icon-b12: "\489";
$icon-c12: "\48a";
$icon-d12: "\48b";
$icon-e13: "\48c";
$icon-f14: "\48d";
$icon-g14: "\48e";
$icon-h14: "\48f";
$icon-i13: "\490";
$icon-j13: "\491";
$icon-k12: "\492";
$icon-l12: "\493";
$icon-m13: "\494";
$icon-n13: "\495";
$icon-o12: "\496";
$icon-p12: "\497";
$icon-q12: "\498";
$icon-r12: "\499";
$icon-s13: "\49a";
$icon-t12: "\49b";
$icon-u12: "\49c";
$icon-v12: "\49d";
$icon-w12: "\49e";
$icon-x13: "\49f";
$icon-y12: "\4a0";
$icon-z12: "\4a1";
$icon-notdef1: "\e901";
$icon-A10: "\4a2";
$icon-B10: "\4a3";
$icon-C10: "\4a4";
$icon-D10: "\4a5";
$icon-E10: "\4a6";
$icon-F10: "\4a7";
$icon-G10: "\4a8";
$icon-H10: "\4a9";
$icon-I10: "\4aa";
$icon-J11: "\4ab";
$icon-K10: "\4ac";
$icon-L10: "\4ad";
$icon-M10: "\4ae";
$icon-N11: "\4af";
$icon-O10: "\4b0";
$icon-P10: "\4b1";
$icon-Q11: "\4b2";
$icon-R10: "\4b3";
$icon-S10: "\4b4";
$icon-T10: "\4b5";
$icon-U11: "\4b6";
$icon-V10: "\4b7";
$icon-W10: "\4b8";
$icon-X11: "\4b9";
$icon-Y10: "\4ba";
$icon-Z10: "\4bb";
$icon-a13: "\4bc";
$icon-b13: "\4bd";
$icon-c13: "\4be";
$icon-d13: "\4bf";
$icon-e14: "\4c0";
$icon-f15: "\4c1";
$icon-g15: "\4c2";
$icon-h15: "\4c3";
$icon-i14: "\4c4";
$icon-j14: "\4c5";
$icon-k13: "\4c6";
$icon-l13: "\4c7";
$icon-m14: "\4c8";
$icon-n14: "\4c9";
$icon-o13: "\4ca";
$icon-p13: "\4cb";
$icon-q13: "\4cc";
$icon-r13: "\4cd";
$icon-s14: "\4ce";
$icon-t13: "\4cf";
$icon-u13: "\4d0";
$icon-v13: "\4d1";
$icon-w13: "\4d2";
$icon-x14: "\4d3";
$icon-y13: "\4d4";
$icon-z13: "\4d5";
$icon-exclam6: "\4d6";
$icon-quotedbl5: "\4d7";
$icon-numbersign4: "\4d8";
$icon-dollar6: "\4d9";
$icon-percent6: "\4da";
$icon-ampersand5: "\4db";
$icon-quoteright1: "\4dc";
$icon-parenleft5: "\4dd";
$icon-parenright5: "\4de";
$icon-asterisk7: "\4df";
$icon-plus6: "\4e0";
$icon-comma5: "\4e1";
$icon-hyphen8: "\4e2";
$icon-period5: "\4e3";
$icon-slash4: "\4e4";
$icon-zero7: "\4e5";
$icon-one7: "\4e6";
$icon-two8: "\4e7";
$icon-three7: "\4e8";
$icon-four7: "\4e9";
$icon-five7: "\4ea";
$icon-six7: "\4eb";
$icon-seven7: "\4ec";
$icon-eight8: "\4ed";
$icon-nine8: "\4ee";
$icon-colon7: "\4ef";
$icon-semicolon5: "\4f0";
$icon-less5: "\4f1";
$icon-equal6: "\4f2";
$icon-greater5: "\4f3";
$icon-question6: "\4f4";
$icon-at5: "\4f5";
$icon-A11: "\4f6";
$icon-B11: "\4f7";
$icon-C11: "\4f8";
$icon-D11: "\4f9";
$icon-E11: "\4fa";
$icon-F11: "\4fb";
$icon-G11: "\4fc";
$icon-H11: "\4fd";
$icon-I11: "\4fe";
$icon-J12: "\4ff";
$icon-K11: "\500";
$icon-L11: "\501";
$icon-M11: "\502";
$icon-N12: "\503";
$icon-O11: "\504";
$icon-P11: "\505";
$icon-Q12: "\506";
$icon-R11: "\507";
$icon-S11: "\508";
$icon-T11: "\509";
$icon-U12: "\50a";
$icon-V11: "\50b";
$icon-W11: "\50c";
$icon-X12: "\50d";
$icon-Y11: "\50e";
$icon-Z11: "\50f";
$icon-bracketleft6: "\510";
$icon-backslash6: "\511";
$icon-bracketright6: "\512";
$icon-asciicircum5: "\513";
$icon-underscore4: "\514";
$icon-quoteleft1: "\515";
$icon-a14: "\516";
$icon-b14: "\517";
$icon-c14: "\518";
$icon-d14: "\519";
$icon-e15: "\51a";
$icon-f16: "\51b";
$icon-g16: "\51c";
$icon-h16: "\51d";
$icon-i15: "\51e";
$icon-j15: "\51f";
$icon-k14: "\520";
$icon-l14: "\521";
$icon-m15: "\522";
$icon-n15: "\523";
$icon-o14: "\524";
$icon-p14: "\525";
$icon-q14: "\526";
$icon-r14: "\527";
$icon-s15: "\528";
$icon-t14: "\529";
$icon-u14: "\52a";
$icon-v14: "\52b";
$icon-w14: "\52c";
$icon-x15: "\52d";
$icon-y14: "\52e";
$icon-z14: "\52f";
$icon-braceleft5: "\530";
$icon-bar5: "\531";
$icon-braceright5: "\532";
$icon-asciitilde4: "\533";
$icon-Euro1: "\20ad";
$icon-quotesinglbase1: "\201b";
$icon-florin1: "\534";
$icon-quotedblbase1: "\201f";
$icon-ellipsis1: "\2027";
$icon-dagger1: "\2023";
$icon-daggerdbl1: "\2024";
$icon-perthousand1: "\2031";
$icon-Scaron2: "\535";
$icon-guilsinglleft1: "\203b";
$icon-OE2: "\536";
$icon-quotedblleft1: "\2025";
$icon-quotedblright1: "\2028";
$icon-bullet1: "\2029";
$icon-endash1: "\2015";
$icon-emdash1: "\2016";
$icon-trademark1: "\2123";
$icon-guilsinglright1: "\203c";
$icon-oe2: "\537";
$icon-Ydieresis2: "\538";
$icon-exclamdown2: "\539";
$icon-cent2: "\53a";
$icon-sterling3: "\53b";
$icon-currency2: "\53c";
$icon-yen2: "\53d";
$icon-brokenbar2: "\53e";
$icon-section2: "\53f";
$icon-dieresis2: "\540";
$icon-copyright2: "\541";
$icon-ordfeminine2: "\542";
$icon-guillemotleft1: "\543";
$icon-logicalnot2: "\544";
$icon-registered2: "\545";
$icon-macron2: "\546";
$icon-degree2: "\547";
$icon-plusminus2: "\548";
$icon-twosuperior1: "\549";
$icon-threesuperior1: "\54a";
$icon-acute2: "\54b";
$icon-mu1: "\54c";
$icon-paragraph2: "\54d";
$icon-periodcentered2: "\54e";
$icon-periodcentered3: "\2219";
$icon-cedilla2: "\54f";
$icon-onesuperior1: "\550";
$icon-ordmasculine2: "\551";
$icon-guillemotright1: "\552";
$icon-onequarter2: "\553";
$icon-onehalf2: "\554";
$icon-threequarters2: "\555";
$icon-questiondown2: "\556";
$icon-Agrave2: "\557";
$icon-Aacute2: "\558";
$icon-Acircumflex2: "\559";
$icon-Atilde2: "\55a";
$icon-Adieresis1: "\55b";
$icon-Aring2: "\55c";
$icon-AE2: "\55d";
$icon-Ccedilla2: "\55e";
$icon-Egrave2: "\55f";
$icon-Eacute2: "\560";
$icon-Ecircumflex1: "\561";
$icon-Edieresis1: "\562";
$icon-Igrave2: "\563";
$icon-Iacute2: "\564";
$icon-Icircumflex1: "\565";
$icon-Idieresis2: "\566";
$icon-Eth2: "\567";
$icon-Ntilde1: "\568";
$icon-Ograve2: "\569";
$icon-Oacute2: "\56a";
$icon-Ocircumflex2: "\56b";
$icon-Otilde2: "\56c";
$icon-Odieresis1: "\56d";
$icon-multiply2: "\56e";
$icon-Oslash1: "\56f";
$icon-Ugrave2: "\570";
$icon-Uacute1: "\571";
$icon-Ucircumflex2: "\572";
$icon-Udieresis1: "\573";
$icon-Yacute1: "\574";
$icon-Thorn2: "\575";
$icon-germandbls2: "\576";
$icon-agrave1: "\577";
$icon-aacute2: "\578";
$icon-acircumflex2: "\579";
$icon-atilde2: "\57a";
$icon-adieresis1: "\57b";
$icon-aring2: "\57c";
$icon-ae2: "\57d";
$icon-ccedilla2: "\57e";
$icon-egrave2: "\57f";
$icon-eacute2: "\580";
$icon-ecircumflex1: "\581";
$icon-edieresis1: "\582";
$icon-igrave2: "\583";
$icon-iacute2: "\584";
$icon-icircumflex1: "\585";
$icon-idieresis2: "\586";
$icon-ntilde1: "\587";
$icon-ograve2: "\588";
$icon-oacute2: "\589";
$icon-ocircumflex2: "\58a";
$icon-otilde2: "\58b";
$icon-odieresis1: "\58c";
$icon-divide2: "\58d";
$icon-oslash1: "\58e";
$icon-ugrave2: "\58f";
$icon-uacute1: "\590";
$icon-ucircumflex2: "\591";
$icon-udieresis1: "\592";
$icon-ydieresis2: "\593";
$icon-one8: "\594";
$icon-two9: "\595";
$icon-eight9: "\596";
$icon-E12: "\597";
$icon-H12: "\598";
$icon-I12: "\599";
$icon-V12: "\59a";
$icon-W12: "\59b";
$icon-X13: "\59c";
$icon-Z12: "\59d";
$icon-b15: "\59e";
$icon-d15: "\59f";
$icon-l15: "\5a0";
$icon-q15: "\5a1";
$icon-r15: "\5a2";
$icon-s16: "\5a3";
$icon-y15: "\5a4";
$icon-A12: "\5a5";
$icon-B12: "\5a6";
$icon-C12: "\5a7";
$icon-D12: "\5a8";
$icon-E13: "\5a9";
$icon-F12: "\5aa";
$icon-G12: "\5ab";
$icon-H13: "\5ac";
$icon-I13: "\5ad";
$icon-J13: "\5ae";
$icon-K12: "\5af";
$icon-L12: "\5b0";
$icon-M12: "\5b1";
$icon-N13: "\5b2";
$icon-O12: "\5b3";
$icon-P12: "\5b4";
$icon-Q13: "\5b5";
$icon-R12: "\5b6";
$icon-S12: "\5b7";
$icon-T12: "\5b8";
$icon-U13: "\5b9";
$icon-V13: "\5ba";
$icon-W13: "\5bb";
$icon-X14: "\5bc";
$icon-Y12: "\5bd";
$icon-Z13: "\5be";
$icon-a15: "\5bf";
$icon-b16: "\5c0";
$icon-c15: "\5c1";
$icon-d16: "\5c2";
$icon-e16: "\5c3";
$icon-f17: "\5c4";
$icon-g17: "\5c5";
$icon-h17: "\5c6";
$icon-exclam7: "\5c7";
$icon-quotedbl6: "\5c8";
$icon-numbersign5: "\5c9";
$icon-dollar7: "\5ca";
$icon-percent7: "\5cb";
$icon-ampersand6: "\5cc";
$icon-quotesingle5: "\5cd";
$icon-parenleft6: "\5ce";
$icon-parenright6: "\5cf";
$icon-asterisk8: "\5d0";
$icon-plus7: "\5d1";
$icon-comma6: "\5d2";
$icon-hyphen9: "\5d3";
$icon-hyphen10: "\2012";
$icon-period6: "\5d4";
$icon-slash5: "\5d5";
$icon-zero8: "\5d6";
$icon-one9: "\5d7";
$icon-two10: "\5d8";
$icon-three8: "\5d9";
$icon-four8: "\5da";
$icon-five8: "\5db";
$icon-six8: "\5dc";
$icon-seven8: "\5dd";
$icon-eight10: "\5de";
$icon-nine9: "\5df";
$icon-colon8: "\5e0";
$icon-semicolon6: "\5e1";
$icon-less6: "\5e2";
$icon-equal7: "\5e3";
$icon-greater6: "\5e4";
$icon-question7: "\5e5";
$icon-at6: "\5e6";
$icon-A13: "\5e7";
$icon-B13: "\5e8";
$icon-C13: "\5e9";
$icon-D13: "\5ea";
$icon-E14: "\5eb";
$icon-F13: "\5ec";
$icon-G13: "\5ed";
$icon-H14: "\5ee";
$icon-I14: "\5ef";
$icon-J14: "\5f0";
$icon-K13: "\5f1";
$icon-L13: "\5f2";
$icon-M13: "\5f3";
$icon-N14: "\5f4";
$icon-O13: "\5f5";
$icon-P13: "\5f6";
$icon-Q14: "\5f7";
$icon-R13: "\5f8";
$icon-S13: "\5f9";
$icon-T13: "\5fa";
$icon-U14: "\5fb";
$icon-V14: "\5fc";
$icon-W14: "\5fd";
$icon-X15: "\5fe";
$icon-Y13: "\5ff";
$icon-Z14: "\600";
$icon-bracketleft7: "\601";
$icon-backslash7: "\602";
$icon-bracketright7: "\603";
$icon-a16: "\604";
$icon-b17: "\605";
$icon-c16: "\606";
$icon-d17: "\607";
$icon-e17: "\608";
$icon-f18: "\609";
$icon-g18: "\60a";
$icon-h18: "\60b";
$icon-i16: "\60c";
$icon-j16: "\60d";
$icon-k15: "\60e";
$icon-l16: "\60f";
$icon-m16: "\610";
$icon-n16: "\611";
$icon-o15: "\612";
$icon-p15: "\613";
$icon-q16: "\614";
$icon-r16: "\615";
$icon-s17: "\616";
$icon-t15: "\617";
$icon-u15: "\618";
$icon-v15: "\619";
$icon-w15: "\61a";
$icon-x16: "\61b";
$icon-y16: "\61c";
$icon-z15: "\61d";
$icon-braceleft6: "\61e";
$icon-braceright6: "\61f";
$icon-asciitilde5: "\620";
$icon-A14: "\621";
$icon-B14: "\622";
$icon-C14: "\623";
$icon-D14: "\624";
$icon-E15: "\625";
$icon-F14: "\626";
$icon-G14: "\627";
$icon-H15: "\628";
$icon-I15: "\629";
$icon-J15: "\62a";
$icon-K14: "\62b";
$icon-L14: "\62c";
$icon-M14: "\62d";
$icon-N15: "\62e";
$icon-O14: "\62f";
$icon-P14: "\630";
$icon-Q15: "\631";
$icon-R14: "\632";
$icon-S14: "\633";
$icon-T14: "\634";
$icon-U15: "\635";
$icon-V15: "\636";
$icon-W15: "\637";
$icon-X16: "\638";
$icon-Y14: "\639";
$icon-Z15: "\63a";
$icon-a17: "\63b";
$icon-b18: "\63c";
$icon-c17: "\63d";
$icon-d18: "\63e";
$icon-e18: "\63f";
$icon-f19: "\640";
$icon-g19: "\641";
$icon-h19: "\642";
$icon-i17: "\643";
$icon-j17: "\644";
$icon-k16: "\645";
$icon-l17: "\646";
$icon-m17: "\647";
$icon-n17: "\648";
$icon-o16: "\649";
$icon-p16: "\64a";
$icon-q17: "\64b";
$icon-r17: "\64c";
$icon-s18: "\64d";
$icon-t16: "\64e";
$icon-u16: "\64f";
$icon-v16: "\650";
$icon-w16: "\651";
$icon-x17: "\652";
$icon-y17: "\653";
$icon-z16: "\654";
$icon-quotedbl7: "\655";
$icon-numbersign6: "\656";
$icon-zero9: "\657";
$icon-one10: "\658";
$icon-two11: "\659";
$icon-three9: "\65a";
$icon-four9: "\65b";
$icon-five9: "\65c";
$icon-six9: "\65d";
$icon-seven9: "\65e";
$icon-eight11: "\65f";
$icon-nine10: "\660";
$icon-A15: "\661";
$icon-B15: "\662";
$icon-C15: "\663";
$icon-D15: "\664";
$icon-E16: "\665";
$icon-F15: "\666";
$icon-G15: "\667";
$icon-H16: "\668";
$icon-I16: "\669";
$icon-J16: "\66a";
$icon-K15: "\66b";
$icon-L15: "\66c";
$icon-M15: "\66d";
$icon-N16: "\66e";
$icon-O15: "\66f";
$icon-P15: "\670";
$icon-Q16: "\671";
$icon-R15: "\672";
$icon-S15: "\673";
$icon-T15: "\674";
$icon-U16: "\675";
$icon-V16: "\676";
$icon-W16: "\677";
$icon-X17: "\678";
$icon-Y15: "\679";
$icon-Z16: "\67a";
$icon-a18: "\67b";
$icon-b19: "\67c";
$icon-c18: "\67d";
$icon-d19: "\67e";
$icon-e19: "\67f";
$icon-f20: "\680";
$icon-g20: "\681";
$icon-h20: "\682";
$icon-i18: "\683";
$icon-j18: "\684";
$icon-k17: "\685";
$icon-l18: "\686";
$icon-m18: "\687";
$icon-n18: "\688";
$icon-o17: "\689";
$icon-p17: "\68a";
$icon-q18: "\68b";
$icon-r18: "\68c";
$icon-s19: "\68d";
$icon-t17: "\68e";
$icon-u17: "\68f";
$icon-v17: "\690";
$icon-w17: "\691";
$icon-x18: "\692";
$icon-y18: "\693";
$icon-z17: "\694";
$icon-accommodate: "\e902";
$icon-add: "\e903";
$icon-adjust: "\e904";
$icon-alarm: "\e905";
$icon-alert: "\e906";
$icon-anchor: "\e907";
$icon-arrest: "\e908";
$icon-ascend: "\e909";
$icon-ask: "\e90a";
$icon-attract: "\e90b";
$icon-bake: "\e90c";
$icon-barbecue: "\e90d";
$icon-believe: "\e90e";
$icon-bite: "\e90f";
$icon-blaze: "\e910";
$icon-bloom: "\e911";
$icon-blow: "\e912";
$icon-bookmark: "\e913";
$icon-broadcast: "\e914";
$icon-build: "\e915";
$icon-caffeinate: "\e916";
$icon-calculate: "\e917";
$icon-call: "\e918";
$icon-camp: "\e919";
$icon-capture: "\e91a";
$icon-celebrate: "\e91b";
$icon-charge: "\e91c";
$icon-chop: "\e91d";
$icon-clamber: "\e91e";
$icon-climb: "\e91f";
$icon-close: "\e920";
$icon-code: "\e921";
$icon-collect: "\e922";
$icon-condemn: "\e923";
$icon-connect: "\e924";
$icon-cook: "\e925";
$icon-copy: "\e926";
$icon-create: "\e927";
$icon-crop: "\e928";
$icon-cry: "\e929";
$icon-cut: "\e92a";
$icon-dazzle: "\e92b";
$icon-decorate: "\e92c";
$icon-defend: "\e92d";
$icon-develop: "\e92e";
$icon-die: "\e92f";
$icon-dig: "\e930";
$icon-divide3: "\e931";
$icon-download: "\e932";
$icon-dream: "\e933";
$icon-drill: "\e934";
$icon-drink: "\e935";
$icon-drive: "\e936";
$icon-drown: "\e937";
$icon-eat: "\e938";
$icon-enlarge: "\e939";
$icon-enter: "\e93a";
$icon-equal8: "\e93b";
$icon-explode: "\e93c";
$icon-explore: "\e93d";
$icon-fight: "\e93e";
$icon-film: "\e93f";
$icon-find: "\e940";
$icon-finish: "\e941";
$icon-fit: "\e942";
$icon-flag: "\e943";
$icon-forbid: "\e944";
$icon-forward: "\e945";
$icon-gamble: "\e946";
$icon-game: "\e947";
$icon-give: "\e948";
$icon-go: "\e949";
$icon-groom: "\e94a";
$icon-grow: "\e94b";
$icon-hack: "\e94c";
$icon-hammer: "\e94d";
$icon-hang: "\e94e";
$icon-harvest: "\e94f";
$icon-home: "\e950";
$icon-hurt: "\e951";
$icon-impregnate: "\e952";
$icon-join: "\e953";
$icon-keep: "\e954";
$icon-kill: "\e955";
$icon-kiss: "\e956";
$icon-label: "\e957";
$icon-launch: "\e958";
$icon-lift: "\e959";
$icon-link: "\e95a";
$icon-listen: "\e95b";
$icon-load: "\e95c";
$icon-locate: "\e95d";
$icon-lock: "\e95e";
$icon-love: "\e95f";
$icon-marry: "\e960";
$icon-merge: "\e961";
$icon-narrow: "\e962";
$icon-navigate: "\e963";
$icon-open: "\e964";
$icon-pause: "\e965";
$icon-pay: "\e966";
$icon-perform: "\e967";
$icon-photograph: "\e968";
$icon-pin: "\e969";
$icon-ping: "\e96a";
$icon-plug: "\e96b";
$icon-point: "\e96c";
$icon-power: "\e96d";
$icon-prank: "\e96e";
$icon-press: "\e96f";
$icon-primp: "\e970";
$icon-print: "\e971";
$icon-produce: "\e972";
$icon-protect: "\e973";
$icon-push: "\e974";
$icon-race: "\e975";
$icon-rain: "\e976";
$icon-record: "\e977";
$icon-redo: "\e978";
$icon-reflect: "\e979";
$icon-reply: "\e97a";
$icon-report: "\e97b";
$icon-resize: "\e97c";
$icon-rewind: "\e97d";
$icon-rule: "\e97e";
$icon-save: "\e97f";
$icon-saw: "\e980";
$icon-scare: "\e981";
$icon-schedule: "\e982";
$icon-search: "\e983";
$icon-send: "\e984";
$icon-shine: "\e985";
$icon-sit: "\e986";
$icon-sleep: "\e987";
$icon-smell: "\e988";
$icon-smoke: "\e989";
$icon-solve: "\e98a";
$icon-sound: "\e98b";
$icon-spin: "\e98c";
$icon-spook: "\e98d";
$icon-stack: "\e98e";
$icon-stamp: "\e98f";
$icon-steam: "\e990";
$icon-stop: "\e991";
$icon-store: "\e992";
$icon-strike: "\e993";
$icon-subtract: "\e994";
$icon-swim: "\e995";
$icon-tag: "\e996";
$icon-target: "\e997";
$icon-time: "\e998";
$icon-tower: "\e999";
$icon-travel: "\e99a";
$icon-type: "\e99b";
$icon-undo: "\e99c";
$icon-unlock: "\e99d";
$icon-upload: "\e99e";
$icon-urbanize: "\e99f";
$icon-use: "\e9a0";
$icon-wait: "\e9a1";
$icon-watch: "\e9a2";
$icon-wear: "\e9a3";
$icon-weld: "\e9a4";
$icon-win: "\e9a5";
$icon-wonder: "\e9a6";
$icon-write: "\e9a7";

