body {
    background: url('../img/bg.gif') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    font-family: 'CourierPrime-Regular';
    #root {
        overflow: hidden;
        .Output {
            background: $transparent;
            overflow: hidden;
        }
    }
    a {
        color: $game-color-darkest;
        &:hover {
            color: $game-color;
        }
    }
    button {
        border-radius: 0;
    }
    input {
        border-radius: 0;
        &:-internal-autofill-selected {
            background-color: $game-color-dark !important;
        }
    }
    div {
        border-radius: 0;
    }
    .space-between {
        justify-content: space-between;
    }
    .flex {
        display: flex;
    }
    .touchable {
        cursor: pointer;
    }
    .ant-form {
        min-width: 230px;
        .ant-input-affix-wrapper {
            padding: 10px 15px;
            color: $game-color-darkest;
            background-color: $game-color-dark;
            border: 2px solid $game-color;
            box-shadow: 2px 2px 0 $game-color-darkest;
            border-radius: 0;
            .ant-input-prefix {
                margin-right: 15px;
                font-size: 16px;
            }
        }
        .ant-form-item {
            &.flex-item {
                .ant-form-item-control-input-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            .ant-input {
                color: $game-color-darkest;
                border: 2px solid $game-color;
                background-color: $game-color-dark !important;
                border-radius: 0;
                box-shadow: 2px 2px 0 $game-color-darkest;
                padding: 5px 10px;
                &::-webkit-input-placeholder {
                    color: $game-color-darkest;
                }
            }
        }
        label {
            font-family: CourierPrime-Regular;
            color: $game-color-darkest;
            &::before {
                font-family: CourierPrime-Regular !important;
                color: $game-color-darkest !important;
            }
        }
        .ant-checkbox-wrapper {
            color: $game-color-darkest;
            &:hover {
                color: $game-color;
                .ant-checkbox {
                    &::after {
                        border: 2px solid $game-color;
                    }
                }
            }
            .ant-checkbox {
                &:hover {
                    &::after {
                        border: 2px solid $game-color;
                    }
                }
                .ant-checkbox-inner {
                    background-color: $game-color-darkest;
                    border-color: $game-color-darkest;
                    border-radius: 0;
                    &::after {
                        border-color: $game-color-dark;
                    }
                }
            }
        }
    }
    .game-btn {
        color: $game-color-darkest;
        border: 2px solid $game-color;
        background-color: $game-color-dark;
        border-radius: 0;
        box-shadow: 2px 2px 0 $game-color-darkest;
        margin: 20px auto;
        font-size: 16px;
        padding: 0px 15px;
        line-height: 32px;
        &:hover {
            background-color: $game-color-darkest;
            color: $game-color;
            border-color: $game-color;
        }
        &:focus {
            background-color: $game-color;
            color: $game-color-darkest;
            border-color: $game-color-darker;
            box-shadow: 2px 2px 0 $game-color-darkest;
        }
    }
    .game-menu-icon {
        font-family: 'PixelIconsCompilation';
        vertical-align: middle;
        font-size: 30px;
        line-height: 30px;
        z-index: 999;
        color: $game-color-dark;
        margin-right: 15px;
    }
    .game-menu-text-icon {
        font-size: 30px;
        font-family: 'PressStart2P-Regular';
        vertical-align: middle;
        z-index: 999;
        color: $game-color;
    }
}

body.game {
    background: radial-gradient(circle, #000 70%, #111719 100%);
    .react-transform-component {
        z-index: 5;
        overflow: visible;
        width: 100%;
    }
}

* {
    ::selection {
        color: $transparent;
        background: $transparent;
    }
}
