.modal-bg {
    background: var(--transparent) !important;
    align-items: center;
}

.modal-window-wrap {
    background-color: var(--game-color-dark);
    border: var(--size-6) solid var(--game-color);
    box-shadow: var(--size-2) var(--size-2) 0 var(--game-color-darkest);
    border-radius: 0;
    max-width: 50%;
}

.modal-window {
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: var(--game-color-dark) !important;
    
}

.modal-content {
    overflow: hidden !important;
    border: var(--size-6) solid var(--game-color-dark);
    background-color: var(--game-color);
    color: var(--game-color-darkest);
}
