.game-modal {
    background-color: $game-color-dark;
    border: 3px solid $game-color;
    box-shadow: 2px 2px 0 $game-color-darkest;
    border-radius: 0;
    max-width: 50%;
    .ant-card-body {
        color: $game-color;
        font-size: 16px;
        .hello {
            font-family: 'PressStart2P-Regular';
            text-shadow: 2px 2px 0 $game-color-darkest;
            text-align: center;
        }
    }
}

.game-active {
    .game-modal {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.start-game {
            width: 600px !important;
        }
    }
}
