$header-height: 64px;
$footer-height: 69px;
$transparent: rgba(0, 0, 0, 0);
$game-color-darkest: #0f2a3f;
$game-color-darker: #20394f;
$game-color-dark: #4e495f;
$game-color-warn: #816271;
$game-color-light: #997577;
$game-color: #c3a38a;
$game-color-lightest: #f6d6bd;
$game-color-danger: #811350;
$game-color-success: #838a54;
